<footer>
    <div class="footer-content">
        <h3>Developed by: <a href="https://github.com/NicolasErazo/E-Commerce">Nicolas Erazo</a></h3>
        <ul class="socials">
            <li><a href="https://github.com/NicolasErazo"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.facebook.com/nicolas.erazo/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/nicolukass/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/nicolaserazo/"><i class="fab fa-linkedin"></i></a></li>
         </ul>
         <p>&copy;2023</p>
    </div>
</footer>