:host {
  margin-bottom: 2em;
  display: block;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
}

.button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

.cart {
  position: relative;

  .counter {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #4caf50;
    border-radius: 50%;
    display: block;
    color: white;
    text-align: center;
    position: absolute;
    top: -10px;
    right: -10px;
  }
}

.show-mobile {
  display: block;
  box-shadow: 0px 2px 5px rgb(black, 0.2);
  position: relative;
  z-index: 1;

  h1 {
    font-size: larger;
    font-style: italic;
    font-weight: bold;
  }

  > div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: #4caf50; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
    }

    ul {
      display: grid;
      list-style: none;
      line-height: 2.5;
      text-align: center;
      margin-top: 2%;

      a {
        margin: 0 0.2em;
        color: inherit;
        text-decoration: none;
        padding: 0.2em 0.8em;
        &.active {
          border: 1px solid #4caf50;
          color: #4caf50;
          border-radius: 5px;
        }
      }
    }
  }

  .side-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-100%);
    transition: all ease-out 0.5s;

    &.active {
      transform: translateX(0);
    }
  }

  .side-cart {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: all ease-out 0.5s;

    &.active {
      transform: translateX(0);
    }
  }
}

.hide-mobile {
  display: none;
  box-shadow: 0px 2px 5px rgb(black, 0.2);

  > div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-right: 1em;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;

      a {
        margin: 0 0.2em;
        color: inherit;
        text-decoration: none;
        padding: 0.2em 0.8em;
        &.active {
          border: 1px solid #4caf50;
          color: #4caf50;
          border-radius: 5px;
        }
      }
    }
  }

  .info {
    display: flex;
    align-items: center;

    .account {
      margin-right: 0.5em;
    }
  }

  .side-cart {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    transform: translateX(100%);
    transition: all ease-out 0.5s;


    overflow-y: auto; // Habilita el scroll vertical

    background: #4caf50;


    &.active {
      transform: translateX(60%);
    }
  }
}

/* Medium only */
@media screen and (min-width: 50em) and (max-width: 63.9375em) {
  .show-mobile {
    display: none;
  }

  .hide-mobile {
    display: block;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .show-mobile {
    display: none;
  }

  .hide-mobile {
    display: block;
  }
}

.content-cart {
  width: 250px;
}
.item-product {
  display: flex;
}
.list {
  padding: 1rem;
}

.item-product img {
  margin-right: 0.5rem;
  width: 20%;
  margin-bottom: 1rem;
  border-radius: 10%;
}

.item-product p {
  font-weight: bold;
  text-align: center;
  padding-top: 8%;
}

// Variables para el botón
$button-background: #fff;
$button-text-color: #4caf50;
$button-padding: 10px 20px;
$button-border: none;
$button-border-radius: 4px;

// Estilos para el botón
.btn {
  display: inline-block;
  padding: $button-padding;
  background-color: $button-background;
  color: $button-text-color;
  border: $button-border;
  border-radius: $button-border-radius;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($button-background, 10%);
  }

  &:focus {
    outline: none;
  }
}
