<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a routerLink="/home">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <div class="cart">
      <a href="">
        <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
      </a>
      <span class="counter">{{ counter }}</span>
    </div>

  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()"><i class="fa-solid fa-xmark"></i>&nbsp;Close</button>
    <h1>_____________________________</h1>
    <br><br>
    <h1>Categories</h1>
    <ul title="Categories">
      <li><a routerLinkActive="active" routerLink="home" (click)="toggleMenu()">All</a></li>
      <li *ngFor="let item of categories">
        <a routerLinkActive="active" [routerLink]="['/category', item.id]" (click)="toggleMenu()">{{ item.name }}</a>
      </li>
    </ul>
    <h1>_____________________________</h1>
    <br><br>
    <h1>Profile</h1>
    <ul title="Profile">
      <li>
        <button routerLink="/login" class="button" *ngIf="!profile; else elseBlockMobile" (click)="toggleMenu()"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Login</button>
      </li>
      <ng-template #elseBlockMobile>
        <li><a routerLink="/profile" (click)="toggleMenu()">{{ profile?.email }}</a></li>
        <li><button class="button" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Logout</button></li>
      </ng-template>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" routerLink="/home">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li><a routerLinkActive="active" routerLink="home">All</a></li>
        <li *ngFor="let item of categories">
          <a routerLinkActive="active" [routerLink]="['/category', item.id]">{{ item.name }}</a>
        </li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        <button routerLink="/login" class="button" *ngIf="!profile; else elseBlock" (click)="toggleMenu()"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Login</button>
        <ng-template #elseBlock>
          <a routerLink="/profile">{{ profile?.name }}</a>&nbsp;
          <button class="button" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Logout</button>
        </ng-template>
      </div>
      <div class="cart">
        <a href="">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
        <span class="counter">{{ counter }}</span>
      </div>
    </div>
  </div>
</div>