<section>
    <div class="form-box">
        <div class="form-value">
            <form [formGroup]="formRegister" (ngSubmit)="saveRegister($event)">
                <h2>Register</h2>
                <div class="inputbox">
                    <i class="fa-regular fa-envelope"></i>
                    <input formControlName="email" matInput type="email" required>
                    <div *ngIf="formRegister.get('email')?.touched && formRegister.get('email')?.invalid">
                        <mat-error *ngIf="formRegister.get('email')?.hasError('required')">
                            This field is required
                        </mat-error>
                    </div>
                    <mat-label>Email</mat-label>
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-signature"></i>
                    <input formControlName="name" matInput type="name" required>
                    <div *ngIf="formRegister.get('name')?.touched && formRegister.get('name')?.invalid">
                        <mat-error *ngIf="formRegister.get('name')?.hasError('required')">
                            This field is required
                        </mat-error>
                    </div>
                    <mat-label>Name</mat-label>
                </div>    
                <div class="inputbox">
                    <i class="fa-regular fa-face-smile"></i>
                    <input formControlName="avatar" matInput type="avatar" required>
                    <div *ngIf="formRegister.get('avatar')?.touched && formRegister.get('avatar')?.invalid">
                        <mat-error *ngIf="formRegister.get('avatar')?.hasError('required')">
                            This field is required
                        </mat-error>
                    </div>
                    <mat-label>Avatar</mat-label>
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-lock"></i>
                    <input formControlName="password" matInput type="password" required>
                    <div *ngIf="formRegister.get('password')?.touched && formRegister.get('password')?.invalid">
                        <mat-error *ngIf="formRegister.get('password')?.hasError('required')">
                            This field is required
                        </mat-error>
                    </div>
                    <mat-label>Password</mat-label>
                </div>
                <div class="inputboxradio">
                    <label>
                        <input type="radio" value="customer" formControlName="role">
                        Customer
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="radio" value="admin" formControlName="role">
                        Admin
                    </label>
                    <div *ngIf="formRegister.get('role')?.touched && formRegister.get('role')?.invalid">
                        <mat-error *ngIf="formRegister.get('role')?.hasError('required')">
                            Select one
                        </mat-error>
                    </div>
                </div>

                <button>Save</button>
                <div class="register">
                    <p>I have a account <a routerLink="/login">Login</a></p>
                </div>
                <a class="btn" href="/"><i class="fa-solid fa-house"></i></a>
            </form>
        </div>
    </div>
</section>