<form [formGroup]="form" (ngSubmit)="save($event)">
    <div formGroupName="fullName">
        <mat-form-field appearance="outline">
            <mat-label>
                Firstname:
            </mat-label>
            <input matInput [class.is-valid]="isNameFieldValid" [class.is-invalid]="isNameFieldInvalid" type="text"
                formControlName="name">
            <mat-error class="error" *ngIf="nameField?.hasError('required')">
                This field is required
            </mat-error>
            <mat-error class="error" *ngIf="nameField?.hasError('maxlength')">
                Maximum 10 characters
            </mat-error>
            <mat-error class="error" *ngIf="nameField?.hasError('pattern')">
                Must have no characters
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Lastname:
            </mat-label>
            <input matInput [class.is-valid]="isLastFieldValid" [class.is-invalid]="isLastFieldInvalid" type="text"
                formControlName="last">
            <mat-error class="error" *ngIf="lastField?.hasError('required')">
                This field is required
            </mat-error>
            <mat-error class="error" *ngIf="lastField?.hasError('maxlength')">
                Maximum 10 characters
            </mat-error>
            <mat-error class="error" *ngIf="lastField?.hasError('pattern')">
                Must have no characters
            </mat-error>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>
            Email:
        </mat-label>
        <input matInput placeholder="pat@example.com" [class.is-valid]="isEmailFieldValid"
            [class.is-invalid]="isEmailFieldInvalid" type="email" formControlName="email">
        <mat-error class="error" *ngIf="emailField?.hasError('required')">
            This field is required
        </mat-error>
        <mat-error class="error" *ngIf="emailField?.hasError('email')">
            It is not a valid email
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>
            Age:
        </mat-label>
        <input matInput [class.is-valid]="isAgeFieldValid" [class.is-invalid]="isAgeFieldInvalid" type="number"
            formControlName="age">
        <mat-error class="error" *ngIf="ageField?.hasError('min')">
            You must be of legal age
        </mat-error>
        <mat-error class="error" *ngIf="ageField?.hasError('max')">
            This field is required
        </mat-error>
        <mat-error class="error" *ngIf="ageField?.hasError('required')">
            This field is required
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Choose a date:</mat-label>
        <input matInput [class.is-valid]="isDateFieldValid" [class.is-invalid]="isDateFieldInvalid" formControlName="date" [matDatepicker]="picker">
        <mat-error class="error" *ngIf="dateField?.hasError('required')">
            This field is required
        </mat-error>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox [class.is-valid]="isAgreeFieldValid" [class.is-invalid]="isAgreeFieldInvalid"
        formControlName="agree">Check me!</mat-checkbox>

    <div class="messages" [class.active]="isAgreeFieldInvalid">
        <mat-error class="error" *ngIf="agreeField?.hasError('required')">
            Accept the terms
        </mat-error>
    </div>

    <div class="center">
        <button mat-raised-button color="primary">Send</button>
    </div>

</form>

<hr>

<form>
    <p>
        <label for="tel">Tel:</label>
        <input type="tel" [formControl]="telField">
    </p>
    <br>
    <p>
        <label for="color">Color:</label>
        <input type="color" [formControl]="colorField">
    </p>
    <br>
    <p>
        <label for="number">Number:</label>
        <input type="number" [formControl]="numberField">
    </p>
    <br>
    <p>
        <label for="range">Range:</label>
        <input type="range" [formControl]="rangeField">
    </p>
    <br>
    <p>
        <label for="time">Time:</label>
        <input type="time" [formControl]="timeField">
    </p>
    <br>
    <p>
        <label for="url">Url:</label>
        <input type="ulr" [formControl]="urlField">
    </p>
    <br>
    <p>
        <label>Category:</label>
        <select [formControl]="categoryField">
            <option value="category-1">Category 1</option>
            <option value="category-2">Category 2</option>
            <option value="category-3">Category 3</option>
            <option value="category-4">Category 4</option>
            <option value="category-5">Category 5</option>
        </select>
    </p>
    <br>
    <p>
        <label>Tag Multiple:</label>
        <select [formControl]="tagField" multiple>
            <option value="tag-1">Tag 1</option>
            <option value="tag-2">Tag 2</option>
            <option value="tag-3">Tag 3</option>
            <option value="tag-4">Tag 4</option>
            <option value="tag-5">Tag 5</option>
        </select>
    </p>
    <br>
    <p>
        <label>Gender:</label>
        <label>
            <input name="gender" type="radio" value="male" [formControl]="genderField">
            Male
        </label>
        <label>
            <input name="gender" type="radio" value="female" [formControl]="genderField">
            Female
        </label>
        <label>
            <input name="gender" type="radio" value="other" [formControl]="genderField">
            Other
        </label>
    </p>
    <br>
    <p>
        <label>Zone:</label>
        <label>
            <input name="zone" type="radio" value="zone-1" [formControl]="zoneField">
            Zone-1
        </label>
        <label>
            <input name="zone" type="radio" value="zone-2" [formControl]="zoneField">
            Zone-2
        </label>
        <label>
            <input name="zone" type="radio" value="zone-3" [formControl]="zoneField">
            Zone-3
        </label>
    </p>
</form>