<section>
    <div class="form-box">
        <div class="form-value">
            <form [formGroup]="formRegister" (ngSubmit)="loginUser($event)">
                <h2>Login</h2>
                <div class="inputbox">
                    <i class="fa-regular fa-envelope"></i>
                    <input formControlName="email" matInput type="email" required>
                    <div *ngIf="formRegister.get('email')?.touched && formRegister.get('email')?.invalid">
                        <mat-error *ngIf="formRegister.get('email')?.hasError('required')">
                            This field is required
                        </mat-error>
                    </div>
                    <mat-label>Email</mat-label>
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-lock"></i>
                    <input formControlName="password" matInput type="password" required>
                    <div *ngIf="formRegister.get('password')?.touched && formRegister.get('password')?.invalid">
                        <mat-error *ngIf="formRegister.get('password')?.hasError('required')">
                            This field is required
                        </mat-error>
                    </div>
                    <mat-label>Password</mat-label>
                </div>
                <div class="forget">
                    <label for=""><input type="checkbox">Remember Me</label>

                </div>

                <button>Log in</button>
                <div class="register">
                    <p>Don't have a account <a routerLink="/register">Register</a></p>
                </div>
                <a class="btn" href="/"><i class="fa-solid fa-house"></i></a>
            </form>
        </div>
    </div>
</section>